<form action="" class="search-form">
    <div>
        <input type="text" class="form-control" placeholder="search username" [(ngModel)]="username" name="username"(keyup)="findProfile()">
    </div>

</form>

<div *ngIf="profile">
    <div class = "panel.panel.default">
        <div class= "panel-heading">
            {{profile.name}}<small>({{profile.login}})</small>
            <span *ngIf="profile.company"> , works at{{profile.company}}</span>

        </div>
        <div class="panel-body">
            <div class= "row">
                <div class= "col-sm-3">
                    <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="profile image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group-items">
                        <li class="list-group-items" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-items" *ngIf="profile.email"><a> href"emailto:{{profile.email}}"</a></li>
                    </ul>

                </div>
                <div class="col-sm-3">
                    <div>
                        <p>
                            <span class="label label-default">{{profile.followers}}Followers</span>
                            <span class="label label-primary">{{profile.following}}Following</span>
                            <span class="label label-success">{{profile.public_repos}}Repositories</span>
                        
                        <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm"> view profile on github</a>
                        <div class="panel.panel.default">
                            <div class="panel-heading">
                                <h3 class="panel-titles">Repos</h3>
                            </div>
                            <div class="panel-body" *ngFor> "let repo of repos">
                                <p class="clearfix">
                                    {{repos.name}}<a href="{{repos.html_url}}" target="_blank" class="btn btn-sm btn-warning">view project on github</a>
                                </p>
                                    <p>{{repos.description}}
                                
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>




